<h2 class="screen-align">Cstudent</h2>
<div id="template-igi9" class="row">
    <div id="template-i5mn" class="cell">
        <label id="template-ipri" class="label ">
            <div id="template-i9tic" class="">Name</div>
        </label>
        <input id="template-ic4d" [(ngModel)]="formstudent.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-ir4sh" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-ikk1v" class="">Send</div>
        </button>
    </div>
    <div id="template-ixjk" class="cell">
        <label id="template-iz94" class="label ">
            <div id="template-iyx72" class="">Age</div>
        </label>
        <input id="template-iprb" [(ngModel)]="formstudent.age" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>