<h2 class="screen-align">Cempform</h2>
<div id="template-i5nl" class="row">
    <div id="template-ihgf" class="cell">
        <label id="template-ifdj" class="label ">
            <div id="template-iex3i" class="">Name</div>
        </label>
        <input id="template-imqm" [(ngModel)]="empform.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-i0h2d" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-if7mu" class="">Send</div>
        </button>
    </div>
    <div id="template-i2lb" class="cell">
        <label id="template-ik9q" class="label ">
            <div id="template-icmzj" class="">empid</div>
        </label>
        <input id="template-iiss" [(ngModel)]="empform.empid" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>