<h2 class="screen-align">Ccollege</h2>
<div id="template-iiql" class="row">
    <div id="template-ifie" class="cell">
        <label id="template-ib3d" class="label ">
            <div id="template-iglft" class="">Name</div>
        </label>
        <input id="template-i4yj" [(ngModel)]="datacollege.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-ijkoh" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-i8up5" class="">Send</div>
        </button>
    </div>
    <div id="template-i8dk" class="cell">
        <label id="template-inv1" class="label ">
            <div id="template-if7bl" class="">Email</div>
        </label>
        <input id="template-ihm5" [(ngModel)]="datacollege.email" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>