.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 100%;
    display: block;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

#template-i5mn {
    width: 420px;
    __p: false;
}

#template-ixjk {
    width: 420px;
    __p: false;
}

.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.cell {
    width: 100%;
    display: block;
}

.cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

#template-iiql {
    transform: translateX(15px) translateY(16px);
}

#template-ifie {
    width: 420px;
    __p: false;
}

#template-i8dk {
    width: 420px;
    __p: false;
}