<h2 class="screen-align">Bankdetails</h2>
<div id="template-i1v8" class="row">
    <div id="template-i5a9" class="cell">
        <label id="template-ir6j" class="label ">
            <div id="template-i0cw3" class="">Name</div>
        </label>
        <input id="template-i86k" [(ngModel)]="bankform.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-i0ll" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-i5ef" class="">Send</div>
        </button>
    </div>
    <div id="template-itm2" class="cell">
        <label id="template-ikdvw" class="label ">
            <div id="template-iknwf" class="">bankac</div>
        </label>
        <input id="template-i709" [(ngModel)]="bankform.bankac" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>